* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}
h1 {
  text-align: center;
}

#login-form {
  margin-top: 70px;
  margin-left: 35%;
}
table {
  width: 50%;
  text-align: center;
  border: solid #dcdcdc 1px;
  padding: 25px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

table tr,
td {
  padding: 15px;
}
table tr td input {
  width: 97%;
  height: 45px;
  border: solid #e1e1e1 1px;
  border-radius: 3px;
  padding-left: 10px;

  font-size: 18px;
  background: #f9f9f9;
  transition-duration: 0.5s;
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.4);
}
label {
  font-size: 20px;
}
.radio {
  width: 10%;
  height: 15px;
  border: none;
  box-shadow: none;
}
/*.age {
  color: rgb(117, 118, 120);
}*/
table tr td button {
  width: 100%;
  height: 45px;
  border: 0px;
  background: rgba(12, 45, 78, 11);
  background: -moz-linear-gradient(top, #595959, #515151);
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(1, 0, 0, 0.2);
  color: #f9f9f9;
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
}
table tr td button:active {
  position: relative;
  top: 1px;
}
.btn-premium {
  background: rgba(255, 223, 0, 11);
}
table tr td a {
  text-decoration: none;
  color: #00a2d1;

  font-size: 18px;
}

#error {
  color: brown;

  font-weight: bolder;
  text-transform: capitalize;
}
