table, th, tr, td{
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    padding: 2rem;
}

tr:nth-child(even){
    background-color: rgba(0,0,0,.2);
}

tr:nth-child(odd){
    background-color: rgba(0,0,0,.05);
}

tr:hover{
    background-color: rgba(0,0,0,.01);
}
th{
    background-color: lightblue;
    color: white;
    text-transform: uppercase;
}